/*

Template ONG-CRESCER

*/
:root{
  --transition-1:0.25s ease;
}
body {
		background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
  font-size: 32px;
}

h2,h3 {
  padding-bottom: 6px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d638c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #4d638c;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#about, 
#gallery,
#project,
#contact,
#blog, 
#blog-single-post {
  padding-top: 60px;
  padding-bottom: 80px;
}

.main-about,
.main-eumamesa,
.main-gallery-eumamesa,
.main-menu-eumamesa,
.main-e-um-restaurante,
.main-menu-e-um-restaurante,
.main-gallery-e-um-restaurante,
.main-e-um-almoco,
.main-single-post,
.main-gallery,
.main-contact {
  height: 65vh;
}

.overlay {
  background: rgba(0,0,0,0.7 ); 
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay-menu-eumamesa {
  background: #71706853; 
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-banner-class {
  background: rgba(0,0,0,0.7 ); 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

.img-logo{
  width: 120px;
  margin-top: -2.5rem;
  height: 76px;
}
/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bfba55;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/
.navigation-wrap{
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  
}
.navbar-default {
    background: #ffffff;
    margin: 0 !important;
    padding: 18px 0;
    top: 0;
}

.navbar-default .navbar-brand {
  color: #555;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #bfba55 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606066;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #bfba55;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #bfba55;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bfba55;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}
.navbar-default .navbar-nav > li .dropdown{
  margin-top: 1.5rem;
}




/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
}

.main-home {
  background: url('../images/Crescer-Restaurante-1.jpg') no-repeat;
  height: 100vh;
}

.main-eumamesa {
  background: url('../images/pizza-e-uma-mesa.png') no-repeat;
}
.main-gallery-eumamesa {
  background: url('../images/banner-galeria-eumamesa.jpg') no-repeat;
}
.main-menu-eumamesa {
  background: url('../images/banner-menu-eumamesa.jpg') no-repeat;
}

.main-menu-e-um-restaurante {
  background: url('../images/banner-menu-e-um-restaurante.jpg') no-repeat;
}
.main-gallery-e-um-restaurante {
  background: url('../images/banner-galeriaa-e-um-restaurante.jpg') no-repeat;
}
.main-e-um-restaurante{
  background: url('../images/e-um-restaurante.jpg') no-repeat;
}
.main-single-post {
  background: url('../images/single-post-bg.jpg') no-repeat;
}
.main-e-um-almoco{
  background: url('../images/banner-e-um-almoco.jpg') no-repeat;
}
.main-gallery {
  background: url('../images/gallery-bg.jpg') no-repeat;
}

.main-contact {
  background: url('../images/contact-bg.jpg') no-repeat;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

#home h4 {
  color: #bfba55;
}
#home  .col-md-12 h1{
  margin-top: 10%;

}
#home  .col-md-12 .h1-menu{
  margin-top: -15%;
}
#home .btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
#project{
  margin: 0;
}
#project .explore-project .card{
  border: none; 
  background-image:white;
  color: rgb(35, 35, 35);
  align-items: center;
}


#project .explore-project .card img{
  width: 80%;
  -webkit-box-shadow: 122px 127px 0px -94px rgba(191,186,85,1);
  -moz-box-shadow: 122px 127px 0px -94px rgba(191,186,85,1);
  box-shadow: 122px 127px 0px -94px rgba(191,186,85,1);

}
#project .explore-project .card img:hover{
  box-shadow: 0 0 0 2px #bfba55;
  transition: all .4s ease-out 0s;
}
#project .explore-project .card p{
  color: rgb(35, 35, 35);
  margin: 2rem;
}

#project .explore-project .card h3{
 padding: 1.5rem;

}
#project .explore-project .card h3 span{
  font-size: 1.9rem;
  color: #bfba55;
}

.text_content{
  width: 70%;
  margin: auto;
  color: white;
}

/* project part two */
#project-part-two{
  padding-bottom: 6rem;
}

#project-part-two .explore-project-part-two .card{
  border: none; 
  background-image:white;
  color: rgb(35, 35, 35);
  align-items: center;
}


#project-part-two .explore-project-part-two .card img{
  width: 80%;
  margin: 1.3rem;
  -webkit-box-shadow: 122px 127px 0px -94px rgba(191,186,85,1);
  -moz-box-shadow: 122px 127px 0px -94px rgba(191,186,85,1);
  box-shadow: 122px 127px 0px -94px rgba(191,186,85,1);

}
#project-part-two .explore-project-part-two .card img:hover{
  box-shadow: 0 0 0 2px #bfba55;
  transition: all .4s ease-out 0s;
}
#project-part-two .explore-project-part-two.card p{
  color: rgb(35, 35, 35);
  margin: 2rem;
}


#project-part-two .explore-project-part-two .card h3 span{
  font-size: 1.9rem;
  color: #bfba55;
}


#project h4 {
  color: #bfba55;
}

#project .btn , #project-part-two .btn{
  background: #bfba55;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
}

#project .btn:hover, #project-part-two .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  border: 2px solid #bfba55;
}

.center{
  text-align: center;
}
.espaco{
  margin-top: -1rem;
  border: 2px solid #cbc9c9;
}

/*-------------------------------------------------------------------------------------------------------------------
                                                        To All The Pages Sections 
-------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------Gallery Section-----------------------------------------*/
#gallery span {
  display: block;
  padding-bottom: 32px;
}

#gallery .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#gallery .gallery-thumb {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  cursor: pointer;
  display: block;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#gallery .gallery-thumb:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#gallery .gallery-thumb img {
  width: 100%;
}

#gallery .col-md-12 p {
  padding-top: 22px;
  text-align: center;
}


/*---------------------------------------------------reserve section-----------------------------------------*/

#reserve .col-md-4 {
  padding-left: 0px;
}
#reserve  {
  margin-top: 10rem;
}
#reserve  .col-md-12 {
  padding-left: 0;
}

#reserve  form {
  padding-top: 32px;
}

#reserve  .form-control {
  border: 2px solid #d1cfcf;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}

#reserve  .form-control:hover {
  border-color: #555;
}

#reserve  input {
  height: 50px;
}

#reserve  input[type="submit"] {
  background: rgb(35, 35, 35);
  border-radius: 100px;
  border: none;
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

#reserve  input[type="submit"]:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: #444;
  border: 2px solid #bfba55;
}


/*-------------------------------------------------------------------------------------------------------------------
                                                          É Uma Mesa   
-------------------------------------------------------------------------------------------------------------------*/

/* ---------------------------------------------------- Section Story --------------------------------------------*/

#story{
  margin: 0; 
  padding-bottom: 1rem;
}
#story .explore-story .row{
  margin-top: 2rem;
 
}
#story .explore-story .card{
  border: none; 
  background-image:white;
  color: rgb(35, 35, 35);
  align-items: center;
}
#story .explore-story .col-lg-4{
    margin-top: 3rem;
}
#story .explore-story .card img:hover{
  box-shadow: 0 0 0 2px #bfba55;
  transition: all .4s ease-out 0s;
}
#story .explore-story .card p{
  color: rgb(35, 35, 35);
 
}
.p-story{
  margin-top: 9rem;
}
#story .explore-story .card h3{
  margin-top: 10rem;
}
#story .explore-story .card h4 {
  font-size: 1.4rem;
  margin: 0;
  line-height: 2.9rem;
  color: rgb(35, 35, 35);
  font-weight: 600;
  letter-spacing:0;

}
#story .explore-story .card h3 span{
  font-size: 1.9rem;
  color: #bfba55;
}
#story .btn{
  background: #bfba55;
  border: 2px solid #ffffff;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 2rem;
  transition: all 0.4s ease-in-out;
}
 #story .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  border: 2px solid #bfba55;
}

/*----------------------------------------- Step by Step Section -----------------------------------------------*/
#step-by-step{
  margin: 0;
  background-image: linear-gradient(#f8f7fc,#bfba5536 );
  padding-bottom: 6rem;
}
#step-by-step .explore-step-by-step .row{
  margin-top: 2rem;
 
}
#step-by-step .explore-step-by-step .card{
  border: none; 
  background-image:white;
  color: rgb(35, 35, 35);
  align-items: center;
}
#step-by-step .explore-step-by-step .col-lg-3{
    margin-top: 3rem;
}

#step-by-step .explore-step-by-step .card h4 {
  font-size: 1.4rem;
  margin: 0;
  color: #bfba55;
  font-weight: 600;
  letter-spacing:0;
}

/* ------------------------------------------- Legacy Section  ----------------------------------------------*/

#legacy{
  margin: 0;
  padding-bottom: 3rem;
}
#legacy .explore-legacy .row{
  margin-top: 4rem;

 
}
#legacy .explore-legacy .card{
  border: none; 
  background-image:white;
  color: rgb(35, 35, 35);
  align-items: center;
}

/* --------------------------------------------------Chef Section-----------------------------------------------*/
#chef{
 margin: 0; 
}
#chef .explore-chef{
  width: 100%;
  background: url(../images/Crescer-Restaurante-4.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

#chef .explore-chef .row{
  margin-top: 4rem;
}
#chef .explore-chef .col-lg-4 img{
  border:2px solid #bfba55 ;
}
#chef .explore-chef .col-lg-4 img:hover{
border:2px solid white;
}
#chef .explore-chef .col-lg-5 {
    background: white;
    margin-top: 2rem;
    border:2px solid white;
 }
 #chef .explore-chef .col-lg-5:hover{
    border:2px solid #bfba55 ;
 }
 
#chef .explore-chef .col-lg-6 img {
  border:2px solid white;
}
#chef .explore-chef .col-lg-6 img:hover{
  border:2px solid #bfba55 ;
}
#chef .explore-chef .col-lg-8 .col-lg-5{
  padding-bottom: 2rem;
}
#chef .explore-chef .col-lg-8 h2 span {
  font-size: 3rem;
  margin: 0;
  margin-top: 6rem;
  font-weight: 700;
  color: #bfba55;
  letter-spacing:0;
  line-height: 2rem;
}
#chef .explore-chef .col-lg-8 h4 {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 1rem;
  font-weight: 700;
  color: rgb(103, 101, 101);
  letter-spacing:0;
  line-height: 2rem;
}

#chef .explore-chef .col-lg-8 p{
  color: rgb(35, 35, 35);
  margin-top: 3rem;
  line-height: 2rem;
}
#chef .btn{
  background: #bfba55;
  border: 2px solid #ffffff;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 2rem;
  transition: all 0.4s ease-in-out;
}
#chef .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  border: 2px solid #bfba55;
}

/*--------------------------------------- Menu Section E Uma Mesa-----------------------------------------------*/

#eumamesa-menu{
  background-color: white;
}
#eumamesa-menu .explore-eumamesa-menu{
  padding-bottom: 3rem;
 }
#eumamesa-menu .explore-eumamesa-menu .col-lg-4  {
  margin-top: 2rem;
 
}
#eumamesa-menu .explore-eumamesa-menu .col-lg-12  {
  margin-top: 2rem;
  box-shadow: 5px 5px 2px 1px #bfba553c;
 
}
#eumamesa-menu .explore-eumamesa-menu .col-lg-12 h1,
#eumamesa-menu .explore-eumamesa-menu .col-lg-12 h2, 
#eumamesa-menu .explore-eumamesa-menu .col-lg-12 h3 {
  text-align: center;
}
#eumamesa-menu .explore-eumamesa-menu .col-lg-12 h3{
  color: rgb(35, 35, 35);
}
#eumamesa-menu .explore-eumamesa-menu .col-lg-12 p span{
  color: rgb(35, 35, 35);
  font-weight: 400;
}
#eumamesa-menu .explore-eumamesa-menu .col-lg-12 h4{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 0;
}
#eumamesa-menu .btn{
  background: #bfba55;
  border: 2px solid #ffffff;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 2rem;
  transition: all 0.4s ease-in-out;
}

#eumamesa-menu .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  border: 2px solid #bfba55;
}





/*-------------------------------------------------------------------------------------------------------------
                                          É Um Restaurante              
--------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------Home Page Section----------------------------------------------*/
#page-home{
  margin: 0;
  background-color: white;
}
#page-home .explore-page-home .row{
  margin-top: 2rem;
  padding-bottom: 2rem;
}

#page-home .explore-page-home .col-lg-6{
  background-image: linear-gradient(#f8f7fc);

}

#page-home .explore-page-home .col-lg-12 {
  background-image: linear-gradient(#f8f7fc );
}
#page-home .explore-page-home .col-lg-12 .col-lg-2 {
  padding-bottom: 2rem;
  border: 2px solid #bfba5558; 
}
#page-home .explore-page-home .col-lg-12 .col-lg-2 img{
  margin: .2rem;
}
#page-home .explore-page-home .col-lg-12 .col-lg-2:hover{
  border: 2px solid #bfba55; 
  transition: all 0.4s ease-in-out;
}
#page-home .explore-page-home .col-lg-12 h2 {
  font-size: 2rem;
  color: rgb(35, 35, 35);
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing:0;
}
#page-home .explore-page-home .col-lg-12 h4 {
  font-size: 1.5rem;
  color: rgb(93, 91, 91);
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing:0;
}
#page-home .explore-page-home .col-lg-12 h3{
  color: #bfba55;
}
#page-home .explore-page-home .col-lg-6 .card h3{
    margin-top: 2rem;
    margin: 3rem;
}
#page-home .explore-page-home .col-lg-6 .card h4{
  font-size: 1.8rem;
  color: #444;
  font-weight: 300;
  line-height: 2.6rem;
  letter-spacing:0;
}

.item img{
  padding: 0.1rem;

}
#carousel-example-generic .icon-prev,#carousel-example-generic .icon-next{
  font-size: 6rem;
 
}
.item .carousel-caption p{
  font-size: 2rem;
  color: white;
  font-weight: 700;
  padding: 2rem;
  margin-top: 4rem;
}
.carousel-indicators{
  bottom: 1rem;
}

.carousel-control button {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  background: white;
  margin-right: 1rem;
  opacity: 0.2;
  
}
.carousel-control button .active{
  opacity: 0.1;
  background-color: white;
}

#page-home  .btn{
  background: rgb(35, 35, 35);
  width: 200px;
  height: 60px;
  text-align: center;
  border: 2px solid #ffffff;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 19px 22px;
  margin-top: 2rem;
  transition: all 0.4s ease-in-out;
}

#page-home .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: rgb(35, 35, 35);
  border: 2px solid #bfba55;
}

/* --------------------------------- Banner-class section ---------------------------------*/
#banner-class{
  margin: 0;
  position: relative;
  background: url(../images/Formacao1-e-um-restaurante.png) no-repeat;
  background-size: cover;
  height: 65vh;
  align-items: center;
}
#banner-class .explore-banner-class .row{
  margin-top: 2rem;
  
}

#banner-class .explore-banner-class .col-lg-12{
  text-align: center;
  align-items: center;
}

#banner-class .explore-banner-class .col-lg-12 h2 {
  font-size: 2rem;
  margin-top: 8rem;
  color: white;
  font-weight: bold;
  line-height: 3rem;
  padding-bottom: 14px;
  margin-bottom: 0px;
  letter-spacing:0;

}
#banner-class .explore-banner-class .col-lg-12 p {
  color: white;
}
#banner-class .explore-banner-class .col-lg-12 h4 {
  font-size: 1.5rem;
  color: #bfba55;
  line-height: 2.6rem;
  letter-spacing:0;
  
}
#banner-class .explore-banner-class .col-lg-12 h3{
  color: #bfba55;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
/* ------------------------------- Specialties food  section ------------------------------------*/
#food-specialty{
    padding-bottom: 10rem;
}
#food-specialty .explore-food-specialty .col-lg-12{
  text-align: center;
  align-items: center;
}
#food-specialty .explore-food-specialty .col-lg-12 .col-lg-4 h4{
  font-size: 1.4rem;
}
#food-specialty .explore-food-specialty .col-lg-12 .col-lg-4 h4:hover{
  font-size: 1.4rem;
  color: #bfba55;
}
#food-specialty .explore-food-specialty .col-lg-12 .col-lg-4 img:hover{
    border: 2px solid #bfba55;
    transition: all 0.4s ease-in-out;
}
#food-specialty .explore-food-specialty .col-lg-12 h2 {
  font-size: 2rem;
  margin-top: 8rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing:0;
}

/* -------------------------Banner Menu-Page section---------------------------*/

#banner-menu-page{
  width: 100%;
  padding-bottom: 15rem;
  background: url(../images/banner1-e-um-restaurante.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#banner-menu-page .explore-banner-menu-page{
  align-items: center;
  justify-content: center;
  text-align: center;
}

#banner-menu-page .explore-banner-menu-page .col-lg-6{
    margin-top: 14rem;
    margin-left: 28rem;
    background-color: #ffffffce;
    padding-bottom: 2rem;
}
#banner-menu-page .explore-banner-menu-page .col-lg-6 p{
    color: rgb(93, 91, 91);
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

#banner-menu-page .btn{
  background: rgb(35, 35, 35);
  width: 200px;
  height: 60px;
  text-align: center;
  border: 2px solid #ffffff;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 19px 22px;
  margin-top: 2rem;
  transition: all 0.4s ease-in-out;
}
#banner-menu-page .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: rgb(35, 35, 35);
  border: 2px solid #bfba55;
}
/*-------------------------------------- Menu Page Section  É Um Restaurante ---------------------------------*/

#menu  .col-md-6{
  padding-top: 22px;
  padding-bottom: 32px;
}
#menu  .col-md-6 p:hover{
  color: #bfba55;
}
#menu  .col-md-6 h3{
  font-size: 1.5rem;
}
#menu  .col-md-6 h3:hover{
  color: #bfba55;
}
#menu  .col-md-6 hr{
  margin: 0;
}
#menu .col-md-6 img:hover {
  border: 1px solid #bfba55;
}

#menu .col-md-4 {
  padding-bottom: 32px;
}

#menu .col-md-4 img {
  padding-top: 12px;
}
#menu-two .menu-two-section{
  width: 100%;
  height: 48rem;
  background:url(../images/bacalhau--.png) no-repeat center;
  background-size: cover;
  text-align: center;
  margin-top: 2rem;
  background-attachment: fixed;
  background-position: 0 71.9125px;
  padding:4.375rem 0 ;
    
}
#menu-two .menu-two-section .col-md-6 {
  padding-top: 22px;
  text-align: left;
  padding-bottom: 32px;
}

#menu-two .menu-two-section  .col-md-6 p:hover{
  color: #bfba55;
}
#menu-two .menu-two-section  .col-md-6 h3{
  font-size: 1.5rem;
}
#menu-two .menu-two-section  .col-md-6 h3:hover{
  color: #bfba55;
}
#menu-two .menu-two-section  .col-md-6 hr{
  margin: 0;
}

#menu-three{
  width: 100%;
  background:url(../images/Crescer-Restaurante-6.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.9;
  text-align: center;
  background-attachment: fixed;
  background-position: 0 71.9125px;
  padding:4.375rem 0 ;
    
}

#menu-three .explore-menu-three .card{
  border: none; 
  background-color: #ffffffa3;
  color: rgb(35, 35, 35);
  align-items: center;
}
#menu-three .explore-menu-three .card:hover{
  transition: var(--transition-1);
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.7);


}
#menu-three .explore-menu-three .card p{
  color: rgb(35, 35, 35);
  font-weight: 600;
}
#menu-three .explore-menu-three .card p:hover{
  color: white;
}
#menu-three .explore-menu-three .card h2{
 padding: 1.5rem;
}
#menu-three .explore-menu-three .card hr{
  margin:1px;
}
.text_content{
  width: 70%;
  margin: auto;
  color: white;
}
/*-------------------------------------------------------------------------------------------------------------
                                          É Um Almoço             
--------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------- Home Page Section-------------------------------------------- */
#page-home-two{
  margin: 0;
  background-color: whitesmoke;
 
}
#page-home-two .explore-page-home-two .row{
  margin-top: 2rem;
  padding-bottom: 2rem;
}

#page-home-two .explore-page-home-two .col-lg-6{
  background-image: linear-gradient(#f8f7fc);
  margin-top: 4rem;
  

}
#page-home-two .explore-page-home-two .col-lg-12 .col-lg-4{
  box-shadow:
  2em 4em 6em -2em rgba(0, 0, 0, 0.372),
  1em 2em 3.5em -2.5em rgba(0,0,0,0.372);
  border-radius: .5em;
}
#page-home-two .explore-page-home-two .col-lg-12 .col-lg-4 p{
  margin: 1rem;
}
#page-home-two .explore-page-home-two .col-lg-12 {
  background-image: linear-gradient(#f8f7fc );
}

#page-home-two .explore-page-home-two .col-lg-12 h2 {
  font-size: 2rem;
  color: rgb(35, 35, 35);
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing:0;
}
#page-home-two .explore-page-home-two .col-lg-12 h4 {
  font-size: 1.5rem;
  color: rgb(93, 91, 91);
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing:0;
  margin: 1rem;
}
#page-home-two .explore-page-home-two .col-lg-12 h3{
  color: #bfba55;
  margin: 1rem;
}

#page-home-two .explore-page-home-two .col-lg-6 .card h3{
    margin-top: 2rem;
}


#page-home-two .explore-page-home-two .col-lg-6 .card h4{
  font-size: 1.8rem;
  color: #444;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing:0;
}

/*---------------------------------------Main Food Section -----------------------------------*/
#main-food{
  margin: 0;
  margin-top: 4rem;
  background-color: white;
 
}
#main-food .explore-main-food .row{
  margin-top: 2rem;
  padding-bottom: 2rem;
}

#main-food .explore-main-food .col-lg-6{
  background-image: linear-gradient(#f8f7fc);
}

#main-food .explore-main-food .col-lg-12 {
  background-image: linear-gradient(#f8f7fc );
  text-align: center;
}

#main-food .explore-main-food .col-lg-12 h2 {
  font-size: 2rem;
  color: rgb(35, 35, 35);
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing:0;
}
#main-food .explore-main-food .col-lg-12 h4 {
  font-size: 1.5rem;
  color: rgb(93, 91, 91);
  font-weight: 600;
  line-height: 2rem;
  letter-spacing:0;
}
#main-food .explore-main-food .col-lg-12 h3{
  color: #bfba55;
}
#main-food .explore-main-food .col-lg-6 .card{
  margin: 3rem;
}
#main-food .explore-main-food .col-lg-6 .card h3{
    margin-top: 2rem;
}

#main-food .explore-main-food .col-lg-6 .card h4{
  font-size: 1.8rem;
  color: #444;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing:0;
}

#main-food  .btn{
  background: #bfba55;
  width: 200px;
  height: 60px;
  text-align: center;
  border: 2px solid #ffffff;
  color: #444;
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 19px 22px;
  margin-top: 2.5rem;
  transition: all 0.4s ease-in-out;
}
#main-food  .btn:hover {
  background: #ffffff;
  border-color: #ffffff;
  border: 2px solid #bfba55;
}


/*     ---------------------------------------------- */
#chef-e-um-almoco{
  margin: 0;
  
 }
 #chef-e-um-almoco .explore-chef-e-um-almoco{
   width: 100%;
   background: url(../images/Crescer-Restaurante-4.jpg) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   padding-bottom: 2rem;
   
 }
 
 #chef-e-um-almoco .explore-chef-e-um-almoco .row{
   margin-top: 4rem;
  
 }
 #chef-e-um-almoco .explore-chef-e-um-almoco .col-lg-5{
  background-color: #ffffffce;
  padding: 2.6rem;
}
#chef-e-um-almoco .explore-chef-e-um-almoco .col-lg-5 h2{
  color: #bfba55;
  font-weight: 700;
}
#chef-e-um-almoco .explore-chef-e-um-almoco .col-lg-5 p{
  color: rgb(45, 44, 44);
  font-weight: 400;
}
#chef-e-um-almoco .explore-chef-e-um-almoco .col-lg-5 h4{
  font-size: 1.5rem;
  color: rgb(45, 44, 44);
  font-weight: 600;
  line-height: 2rem;
  letter-spacing:0;
}
 #chef-e-um-almoco  .btn{
   background: #bfba55;
   border: 2px solid transparent;
   color: #444;
   font-family: 'Merriweather', serif;
   font-size: 1.3rem;
   font-weight: bold;
   letter-spacing: 2px;
   text-transform: uppercase;
   padding: 13px 22px;
   margin-top: 2rem;
   transition: all 0.4s ease-in-out;
 }
 
 #chef-e-um-almoco .btn:hover {
   background: #ffffff;
   border-color: #ffffff;
   border: 2px solid #bfba55;
 }

 /* --------------------------------Menu Section É Um Almoço------------------------------------*/
 #page-home-menu-e-um-almoco{
  margin: 0;
  background-color: white;
 
}
#page-home-menu-e-um-almoco .explore-page-home-menu-e-um-almoco .row{
  margin-top: 2rem;
  text-align: justify;
  padding-bottom: 2rem;
}

#page-home-menu-e-um-almoco .explore-page-home-menu-e-um-almoco .col-lg-12{
  background-image: linear-gradient(#ffffff8a,#bfba5528);
  box-shadow: 5px 5px 2px 1px #bfba553c;
  margin-top: 4rem;
  
}
#page-home-menu-e-um-almoco .explore-page-home-menu-e-um-almoco .col-lg-12 .card h3{
  
  font-size:1.7rem;

  
}
 


/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  margin: 0;
  background-image: linear-gradient(#ffffff,#b2b3b6 );
  position: relative;
}

footer .container a{
  margin-top: 4rem;

}

footer .col-md-4 .fa {
  color: #ffffff;
  padding-right: 8px;
  
}

footer .col-md-4 h3{
  color: rgb(35, 35, 35);
  font-size: 1.4rem;
}
footer .col-md-4 h4{
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}
footer .col-md-4 p a{
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}
footer .col-md-4{
  width: 300px;
  margin-top: 3rem;
}

footer .col-md-4 ul li{
  list-style: none;
  text-align: left;
  text-decoration:#bfba55 wavy underline ;
}
footer .col-md-4 ul li a{
  color: #292929;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
  line-height:2.4rem;
}
footer .col-md-4 ul li a:hover {
  color: #bfba55;
  transform: scale(1.1);
}
footer .col-md-6 a{
  color: black;
  line-height: 2rem;
  list-style-type: none;
  letter-spacing:.1rem;
  font-size: 1.3rem;
 
}

footer  .col-md-12 .link {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer  .col-md-12 .link li {
  display: inline-block;
  list-style: none;
}

footer  .col-md-12 .link li a {
  color: #292929;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 2rem 2rem 1rem 1rem;
}

footer  .col-md-12 .link li a:hover {
  color: #bfba55;
  transform: scale(1.1);
}

footer hr {
  border-color: #121212;
  margin-top: 30px;
  margin-bottom: 42px;
}

footer .footer-copyright {
  padding-top: 12px;
  text-align: center;
}



/* Back top */
.go-top {
  background-color: #a5a0a0;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
    background: #bfba55;
    color: #ffffff;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid #292929;
    color: #292929;
    border-radius: 100px;
    cursor: pointer;
    font-size: 19px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    border-color: #bfba55;
    color: #bfba55;
    transform: scale(1.1);
    background-color: white;
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  .main-about,
  .main-single-post,  
  .main-gallery,
  .main-contact {
    height: 35vh;
  }
  footer .col-md-4 h3{
    margin-top: 6rem;
   
  }
  footer .container a{
    margin-top: 0;
    padding-bottom: 2rem;
  }
  .menu-section{
    height: auto;
    padding: 3rem 0;
    background-size: contain;
}
  .menu2-section{
    background-size: contain;
  }
  .eye{
    position: absolute;
    right: 60%;
    margin-right: 4rem;
    top: 80%;
    background: #252525;
    padding: 12px;
    border-radius: 50%;
    animation: eye 1s linear infinite;
  }
  .pieces{
    padding: 10px;
    margin-top: 13%;
    border-radius: 50%;
    background: #ffcc00;
    position: absolute;
    right: 40%;
    animation: pieces 1s linear infinite;
  }
 
}


@media (max-width: 768px) {

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 26px;
  }

  #about .col-md-6 img {
    padding-left: 0px;
  }

  #blog-single-post .blog-single-post-image img {
    padding-bottom: 22px;
  }

  footer .col-md-4 {
    padding-top: 22px;
  }
  .eye{
    position: absolute;
    right: 60%;
    margin-right: 2rem;
    top: 80%;
    background: #252525;
    padding: 12px;
    border-radius: 50%;
    animation: eye 1s linear infinite;
  }


}


@media (max-width: 650px) {

  h1 {
    font-size: 42px;
  }

  #about, #gallery,
  #contact,
  #blog, #blog-single-post {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

